html, body{
    margin: 0;
    }
    header{
    background-color: #018DC2;
    padding: 40px;
    text-align: center;
    }
    h1{
    font-size: 70px;
    font-style:italic;
    color: white;

    }
    header img{
    border-radius: 10px;
    width: 450px;
    border: 0px solid #23B2E9;
    }
    .content{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
    }
    img.big-image{
    
    max-width: 100%;
    }
    p.cap3on{
    font-size: 16px;
    color: lightgrey;
    font-style: italic;
    }
    ul{
    list-style: none;
    padding: 0;
    margin: 0;
    }
    a{
    color: blue;
    text-decora3on: none;
    }
    
    footer{
    margin-top: 20px;
    padding: 40px 20px;
    background-color: #98DDEA;
    }
    footer ul{
    text-align: center;
    }
    footer ul li{
    display: inline-block;
    margin: 0px;
    }